{% extends "base.html" %}

{% block content %}
<div class="container">
    <div>
        <img src="/static/background_1.png" style="float: right; width: 25%; height: 25%">
    </div>
    <div style="text-align: left; padding: 40px; padding-bottom: 100px;">
        <h2 class="display-6">Описание</h2>
        <p class="lead">PatternMaker - сервис для создания<br>
        изображений, называемых паттернами. Паттерны при стыковке друг к другу,<br>
        образовывают равномерное поле.</p>
    </div>
    <div>
        <img src="/static/background_2.png" style="float: left; width: 25%; height: 25%">
    </div>
    <div style="text-align: right; padding: 40px; padding-bottom: 100px;">
        <h2 class="display-6">Использование паттернов</h2>
        <p class="lead">Обычно паттерны используют для украшения обоев, рисунков<br>
        и изображений. Но их, так-же можно использовать для бэкграундов сайтов<br>
        и рекламы.</p>
    </div>
    <div>
        <img src="/static/background_3.png" style="float: right; width: 25%; height: 25%">
    </div>
    <div style="text-align: left; padding: 40px; padding-bottom: 100px;">
        <h2 class="display-6">Есть ли смысл в сервисе, если есть photoshop?</h2>
        <p class="lead">Конечно есть. Ведь при создании паттернов в photoshop, или<br>
        других фоторедакторах, появляется множество проблем, например выравнивание<br>
        изображений относительно друг друга, или их расстоновка так, что-бы<br>
        паттерны при стыковке образовывали равномерое поле.</p>
    </div>
</div>
{% endblock %}