{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div style="padding: 50px;">
    <h1 style="text-align: left" class="display-4">Создание паттернов, теперь стало проще.</h1>
    <p style="text-align: left" class="lead">Попробуйте создать любой паттерн по своему вкусу.</p>
    <hr class="my-4">
    <p class="lead" style="text-align: left">
      <a class="btn btn-success btn-lg" href="/patternMaker" role="button">Создать паттерн</a>
    </p>
  </div>
</div>
<div style="background-image: url('/static/background_1.png'); height: 500px"></div>
{% endblock %}